@use "../abstracts/index" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: $color-white;
  color: $color-gray;
}

.container-full {
  width: 95%;
  max-width: 90rem;
  margin: 0 auto;
  margin-top: 2rem;
}

button {
  font: inherit;
}
