* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Epilogue", sans-serif;
}

.container-full {
  width: 95%;
  margin: 0 auto;
  margin-top: 3rem;
}

button {
  font: inherit;
}
